@model ShakeotDay.ViewModels.WalletsViewModel

@inject SignInManager<ApplicationUser> SignInManager

@if (Model != null && SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav" style="margin-left:10%;color: #AAAAAA;" id="walletAmt">
        <li style="margin-right: 2%;">  Wallet: @Model.UserWallet.WalletValue</li>
        <li>Jackpot: @Model.JackpotWallet.WalletValue </li>
    </ul>

}