@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <h4>A <b>Modern</b> twist on a classic tavern Game. </h4>
    Shake of the Day is a popular bar dice game played in taverns where I grew up. 
    I wanted to bring this forward into a just-for-fun digital game and learn
    some things about the new .net Core by making an MVC site with a web API backend.<br/>
    Hope you enjoy!
</p>

<p><b>Disclaimer:</b><br/>
    If you fork this to build a multi-million dollar once-daily bar dice company, you'll want to fix security.</p>

<p>Thanks to the following:
    <ul>
        <li>.net foundation</li>
        <li>stack overflow</li>
        <li>github</li>
        <li>beers</li>
    </ul>
    
    </p>
